@import '../assets/styles/variables.scss';

main {
    color: $font-primary-color;
    font-family: $font-main;
    margin: 0.5rem auto;
    width: 100%;
}

:host {
    background-color: black;
    display: block;
}