@import '../../../assets/styles/variables.scss';

mat-card-title {
    color: $font-primary-color;
}

mat-card-subtitle p {
    color: white;
}

p {
    color: white;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
}

.post-card {
    background-color: black;
    border: 1px $font-primary-color solid;
    margin: 0.5%;
    min-width: 350px;
    width: 45.3%;
}

.avatar-image {
    background-image: url('../../../assets/images/link-shooting-header-img.png');
    background-size: cover;
  }

.info-text {
    color: $font-primary-color;
    text-align: center;
}

#edit-button {
    color: $font-primary-color;
}

#delete-button {
    color: red;
}