<div class="container">
  <mat-card class="post-card" *ngFor="let post of posts">
    <mat-card-header>
      <div mat-card-avatar class="avatar-image"></div>
      <mat-card-title>{{ post.title }}</mat-card-title>
      <mat-card-subtitle>
        <p>Posted by: {{ username }}</p>
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{uploadedPostImage}}" alt="Zelda-World">
    <mat-card-content>
      <p>
        {{ post.content }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a id="edit-button" mat-button [routerLink]="['/edit', post.id]">Edit</a>
      <button id="delete-button" mat-button (click)="onDelete(post.id)">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>

<p class="info-text mat-body-1" *ngIf="posts.length <= 0"> No posts added yet! </p>