@import url('https://fonts.googleapis.com/css?family=Raleway');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

$font-main: 'Raleway', sans-serif;
$font-primary-color: rgb(226, 207, 138);
$font-primary-size: 1.2rem;